<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <!-- <link rel="stylesheet" href="../styles/resets.scss">
    <link rel="stylesheet" href="../styles/base.scss">
    <link rel="stylesheet" href="../styles/header.scss">
    <link rel="stylesheet" href="../styles/form.scss">
    <link rel="stylesheet" href="../styles/footer.scss"> -->
</head>

<body>

    <header>
        <h1>Analyse an Website text concerning polarity and subjectivity</h1>
    </header>

    <main>
        <section>
            <h2>Is the website biased? Post its url and you will see:</h2>
            <form class="" onsubmit="return myLib.buttonClicked(event, 'run')">
                <input id="name" type="text" name="input" value="" placeholder="Enter the URL you want to investigate here">
                <input type="submit" name="" value="submit" onclick="return myLib.buttonClicked(event)" onsubmit="return myLib.buttonClicked(event)">
            </form>
        </section>

        <section>

            <ul id="results">
                <li>
                    <h3>Polarity:</h3>
                    <p id="polarity"></p>
                </li>
                <li>
                    <h3>Subjectivity:</h3>
                    <p id="subjectivity"></p>
                </li>
                <li>
                    <h3>Your entered Text:</h3>
                    <p id="text"></p>
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <p>Udcity Project 4. By Katharin Kern </p>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script>
</body>

</html>