header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
    border-bottom: 2px solid black;
}

h1 {
    font-size: 3em;
    font-weight: 800;
}